.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.Container {
  padding: 20px;
}

.border {
  box-shadow: 0 2px 6px rgba(0,0,0,.05), 0 0 0 1px rgba(0,0,0,.07);
  border-radius: 3px;
}

.rightSection {
  min-width: 300px;
}

.padding {
  padding: 20px;
}

.label {
  color: hsl(0, 0%, 40%);
  font-size: 0.9em;
}

.date {
  min-width: 110px;
  display: inline-block;
  margin-left: 10px;
}

.formBottom {
  min-width: 930px;
}

.bold {
  font-weight: 700;
}

.button {
  border-radius: 4px;
    font-size: 16px;
    padding-bottom: 12px;
    font-weight: 800;
    border: transparent;
    box-shadow: 0 2px 6px rgba(0,0,0,.05), 0 0 0 1px rgba(0,0,0,.07);
    cursor: pointer;
    padding: 12px 24px;
    background: #ffffff;
    color:#001614;
}

.buttonPrimary {
  background: #00a699 !important;
  color:#ffffff !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}